{% extends "base.html" %}
{% load volunteer_tags %}


{% block content %}
<div class="row">
<div class="large-12 columns">

<h2>My organizations</h2>
{% for org in request.user.organization_set.all %}
{% manager_of org user as manager %}
{% if manager %}
<div>
    <h4>{{org.title}}</h4>
    {% if org.image %}<img src={{org.image}}" />{% endif %}
    {% for project in org.projects.all %}
    {% if not project.fulfilled %}
    <p><a href="{{project.get_absolute_url}}">{{project.title}}</a></p>
    {% endif %}
    {% endfor %}
    <a class="button" href="#"><i class="fa fa-plus-square"></i>&nbsp;&nbsp;Add a new project</a>
</div>
{% endif %}
{% endfor %}
<hr />

{% if applications %}
<h2>My application status</h2>
{% for app in applications %}

<div class="app-box">
  <h4><a href="{{app.opportunity.get_absolute_url}}">{{app.opportunity.title}}</a></h4>
  <p>{{app.opportunity.project.organization}}</p>
  <a href="#" class="button disabled">Application {{app.get_status_display}}</a>
</div>

{% endfor %}

<hr />
{% endif %}

<h2>Profile</h2>

<p>Name: {{object.volunteer.name}}</p>
<p>Email: {{object}}</p>
<p>Phone: {{object.volunteer.phone_number}}</p>
<p>Address: {{object.address}}</p>

<button>Edit</button>
</div>
</div>
{% endblock %}
