{% extends "base.html" %}
{% load volunteer_tags %}


{% block content %}

<h2>My projects</h2>
{% for org in request.user.organization_set.all %}
{% manager_of org user as manager %}
{% if manager %}
{% for project in org.projects.all %}
{% if not project.fulfilled %}
<p><a href="{{project.get_absolute_url}}">{{project.title}}</a>&nbsp;<span class="label">{{org.title}}</span></p>
{% endif %}
{% endfor %}
{% endif %}
{% if forloop.last%}
<p><a class="button" href="{% url 'project-create' org.slug %}"><i class="fa fa-plus-square"></i>&nbsp;&nbsp;Add a new project</a></p>
<hr />
<h2>Applications waiting for review</h2>
{% for opp in org.opportunity_set.all %}
{% for app in opp.volunteerapplication_set.all %}
{% if app.status == 'pending' %}
{{app}}
{% endif %}
{% endfor %}
{% endfor %}

{% endif %}
{% endfor %}



{% if applications %}
<h2>My application status</h2>
{% for app in applications %}

<div class="app-box">
  <h4><a href="{{app.opportunity.get_absolute_url}}">{{app.opportunity.title}}</a></h4>
  <p>{{app.opportunity.project.organization}}</p>
  <a href="#" class="button disabled">Application {{app.get_status_display}}</a>
</div>

{% endfor %}

<hr />
{% endif %}

<h2>Profile</h2>

<p>Name: {{object.volunteer.name}}</p>
<p>Email: {{object}}</p>
<p>Phone: {{object.volunteer.phone_number}}</p>
<p>Address: {{object.address}}</p>

<button>Edit</button>
{% endblock %}
