{% extends "base.html" %}
{% load volunteer_tags %}


{% block content %}

<h3>Project</h3>
<h2>{{object.title}}</h2>
<span class="label">{{object.organization}}</span>
{% if object.organization.website %}<p class="label"><i class="fa fa-globe"></i>&nbsp;<a style="color:white;" href="{{object.organization.website}}">{{object.organization.website}}</a></p>{% endif %}
{% if object.organization.phone %}<p class="label"><i class="fa fa-phone"></i>&nbsp;<a style="color:white;" href="tel://{{object.organization.phone}}">{{object.organization.phone}}</a></p>{% endif %}
<div class="desc">
  <p>{{object.description}}</p>
</div>

{% manager_of object.organization request.user as manager %}
{% lead_volunteer_of object request.user as lead %}
{% if manager or lead %}
<h3>Your volunteers</h3>
{% for app in project.volunteerapplication_set.all %}
{{app.volunteer}}
{% endfor %}
{% endif %}

<h3>Find a way to help!</h3>
    {% for obj in object.opportunity_set.all %}
<div class="">
    <h4><a href="{{ obj.get_absolute_url }}">{{obj.title}}</a></h4>
    <p>{{obj.description}}</p>
</div>
    {% endfor %}
{% endblock %}
