@import "settings";
@import "foundation";

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switch",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
<<<<<<< Updated upstream
//   "foundation/components/visibility";
=======
//   "foundation/components/visibility";

/* Extra customization starts here! */

.top-bar {
	.name { 
		h1 {
			a {
				background: url(../../img/volunteerhub_logo_2x.png) 20px 0 no-repeat;
				background-size: contain;
				overflow: hidden;
				white-space: nowrap;
				text-indent: 200%;
				width: 190px;
			}
		}
	}
}

#logo { 
	margin:1em auto; 
	text-indent:-9999px; 
	min-height: 150px;
	width: auto;
	max-width: 450px;
	background: url(../../img/volunteerhub_logo.png) 50% 0 no-repeat;
	background-size: contain;
}

.home-intro {
	background: url(../../img/volunteer-home-photo.jpg) 50% 0 no-repeat;
	background-size: cover;
}
>>>>>>> Stashed changes
